<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JM Project</title>
</head>
<body>
    <h1>홈 화면</h1>
    <a href="/calc"><h3>계산기</h3></a>
    <a href="/grade"><h3>성적표</h3></a>

    <h1>ESG 경영지원 데이터 분석 및 보고서 자동화</h1>
    <h2>1. ESG 데이터 자동 분석 플랫폼 구축</h2>
 
    <a href="/energy_esg_collector"><h3>에너지 산업 ESG 데이터 수집/저장</h3></a>
    <a href="/finserv_esg_analytics"><h3>금융서비스 재무데이터 시각화/대시보드</h3></a>
    <a href="/manufacturing_esg_report"><h3>제조업체 ESG 리포트 자동생성</h3></a>

    <h2>2. ESG 데이터 기반 재무영향 자동화 시스템 개발</h2> 
    
    <a href="/retail_fin_collector"><h3>대형 소매업 재무데이터 수집/분석</h3></a>
    <a href="/construction_report"><h3>건설업 재무보고서 자동생성</h3></a>
    <a href="/healthcare_chatbot"><h3>헬스케어 재무 Q&A 챗봇</h3></a>
    
    <h2>3. 재무 분석 및 보고 챗봇 개발발</h2>
    
    <a href="/manufacturing_review"><h3>제조업체 재무보고서 검토/승인 시스템</h3></a>
    <a href="/finserv_dashboard"><h3>금융서비스 재무데이터 시각화/대시보드</h3></a>
    <a href="/retail_chatbot"><h3>소매업체 재무분석/보고 챗봇</h3></a>

</body>
</html>
